/* <a href="http://www.freepik.com">Designed by 0melapics / Freepik</a> */

#topNav {
  height: 5vh;
  width: 100%;

  z-index: 3;

  position: fixed;

  background-image: url("../img/woodBackgroundBrown.svg");
  background-color: #bf722e;
  background-size: 30%;

  border-bottom: 3px solid #000000;

  /* box-shadow: 1px 1px 5px #000000; */
}
